<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>User page</title>
    <style>
        h1 {text-align: center;}
    </style>
  </head>
  <body>

    <header class="header" style="background: rgb(22,160,133);
background: linear-gradient(0deg, rgba(22,160,133,0.43469887955182074) 0%, rgba(255,255,255,0.29744397759103647) 100%);">
    <img src="static/image/careplush.png" alt="" height="50px" width="100px">
    <nav class="navbar">
        <div style="display: flex;justify-content:space-around;">
                <div style="margin-right: 150px;;">
                <a href="/">home</a>
                <a href="#services">services</a>
                <a href="#about">about</a>
                <a href="#doctors">doctors</a>
                <a href="#book">book</a>
                <a href="#review">test yourself</a>
                <a href="#review">review</a>

                </div>

                <div>
                <a href="/logout">Logout</a>
                <a href="/profile">Edit profile</a>
                </div>
        </div>
    </nav>
    <div id="menu-btn" class="fas fa-bars"></div>
</header>
 <h1>Hello {{l}}</h1>
<!-- custom js file link  -->
<script src="js/script.js"></script>
     </body>
</html>